<% layout("layouts/boilerplate") -%>
  <div class="row">
    <div class="col-8 offset-2">
       <br><br>
      <h3>Create a New Listing</h3>

      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label" >
            Title
          </label>
          <input  name="listing[title]" class="form-control" placeholder="enter title" type="text"  required/>
          <div class="invalid-feedback">please enter the valid title </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">
            Description
          </label>
          <textarea name="listing[description]" class="form-control" placeholder="enter description" required></textarea>
          <div class="invalid-feedback"> Description Please !!!</div>
        </div>
        
          <div class="mb-3">
          <label for="image" class="form-label">
            Upload Image
          </label>
          <input name="listing[image]" class="form-control"  type="file" required />
          <div class="invalid-feedback"> Image Missing</div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">
            Price
          </label>
          <input name="listing[price]" class="form-control" placeholder="enter price" type="text"  required/>
          <div class="invalid-feedback">Enter Correct Price!!!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" required class="form-label">
            Country
          </label>
          <input name="listing[country]" class="form-control" placeholder="enter country" type="text" />
          <div class="valid-feedback"> Country looking Good </div>
        </div>

        </div>

        <div class="mb-3">
          <label for="location" class="form-label" >
            Location
          </label>
          <input name="listing[location]" required class="form-control" placeholder="enter location" type="text" />
        </div>
        <button class="btn btn-dark mb-3 add-btn">Add</button>
        <br><br>
      </form>

    </div>
  </div>