/* ---------------------------------------------------- */
body {
  font-family: "plus-jakarta-sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.conatiner {
   flex: 1;
}
/* ---------------------------------------------------- */
/*  Navbar Styles */
.navbar {
  background-color: white;
  height: 5 rem;
}

.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}

.nav-link active {
  color: #222222 !important;
}
/* ---------------------------------------------------- */
/*  Footer Styles */
.footer-info {
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
  vertical-align: middle;
}

.social-icons,
.footer-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: #222222;
}

.footer-links a {
  text-decoration: none;
  color: #222222 !important;
}

.footer-links a:hover {
  text-decoration: underline;
}
/* ---------------------------------------------------- */
/* cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
/* ---------------------------------------------------- */
/*  card effect */
.card-img-overlay {
  opacity: 0;
}
.card:hover .card-img-overlay {
  opacity: 0.2;
  background-color: white;
}
/* ---------------------------------------------------- */
/*  New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* ---------------------------------------------------- */
/* edit page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* ---------------------------------------------------- */
/* show page */
.show-img {
  height: 30vh;
}
.btns{
  display: flex;
}
.show-card{
  padding-left: 0;
  padding-right: 0;
}
/* ---------------------------------------------------- */




/* ---------------------------------------------------- */